<template>
  <div class="xxs_components_container">
    <el-row :gutter="8">
      <el-col :span="3">
        <el-tree
          :data="treeData"
          :props="defaultProps"
          @node-click="handleNodeClick"
          :default-expand-all="true"
          highlight-current
          :expand-on-click-node="false"></el-tree>
      </el-col>
      <el-col :span="21">
        <div>
          <div class="xxs_filter_block">
            <el-button class="filter-item" type="primary" icon="edit" @click="handleCreate">添加</el-button>
            <el-input @keyup.enter.native="$handleFilter" v-model="filter.name" class="filter-item" placeholder="公司区域名称"></el-input>
            <el-button class="filter-item" type="primary" icon="search" @click="$handleFilter">搜索</el-button>
          </div>
          <el-table
            :data="tableData"
            v-loading="listLoading"
            element-loading-text="加载中"
            border
            fit
            highlight-current-row
            style="width: 100%">
            <el-table-column class-name="xxs_operate" align="center" label="操作" width="70">
              <template slot-scope="scope">
                <el-button  size="small" @click="handleUpdate(scope.row)">修改</el-button>
                <!-- <el-button  size="small" :plain="true" type="danger" @click="handleDelete(scope.row)">删除</el-button> -->
              </template>
            </el-table-column>
            <el-table-column prop="name" label="区域名称" width="130"></el-table-column>
            <el-table-column label="级别" width="120">
              <template slot-scope="scope">
                <span v-if="+scope.row.parentId !== 0">二级区域</span>
                <span v-else>一级区域</span>
              </template>
            </el-table-column>
            <el-table-column prop="state" label="状态" width="100">
              <template slot-scope="scope">
                <span>{{ stateCode[scope.row.state] }}</span>
              </template>
            </el-table-column>
            <el-table-column prop="updateTime" label="更新时间" width="180">
              <template slot-scope="scope">
                <span>{{ scope.row.updateTime | parseTime }}</span>
              </template>
            </el-table-column>
            <el-table-column prop="createTime" label="创建时间" width="180">
              <template slot-scope="scope">
                <span>{{ scope.row.createTime | parseTime }}</span>
              </template>
            </el-table-column>
          </el-table>
          <div class="xxs_page_block">
            <el-pagination @size-change="$handleSizeChange" @current-change="$handleCurrentChange" :current-page="currentPage" :page-sizes="[10, 20, 50, 100]" :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total">
            </el-pagination>
          </div>
        </div>
      </el-col>
    </el-row>

    <!-- 公司区域编辑框 -->
    <el-dialog title="公司区域编辑" :visible.sync="dialogFormVisible" width="550px">
      <el-form
        :model="region"
        :rules="rules"
        ref="editForm"
        style="margin-left: 30px;"
        label-position="right" label-width="110px">
        <el-form-item label="父级区域">
          <el-select
            class="w-input-235"
            :disabled="!!region.id"
            v-model="region.parentId"
            placeholder="">
            <el-option v-if="+region.parentId === 0" label="无" :value="'0'">无</el-option>
            <el-option v-else label="无" value="">无</el-option>
            <el-option v-for="item in listRegion" :key="item.id" :label="item.name" :value="item.id">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="区域名称" prop="name">
          <el-input v-model="region.name" class="w-input-235"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer" v-loading="formLoading">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button v-if="dialogStatus=='create'" type="primary" @click="create">确 定</el-button>
        <el-button v-else type="primary" @click="update">确 定</el-button>
      </div>
    </el-dialog>


  </div>
</template>

<script>
const stateCode = {
  'isNormal': '正常',
  'isDelete': '删除'
}
export default {
  data() {
    return {
      //  树参数
      treeData: [],
      defaultProps: {
        children: 'children',
        label: 'name'
      },
      stateCode,
      tree: {
        id: null,
        name: null,
        level: null
      },
      //  页面参数
      listLoading: false,
      tableData: [],
      currentPage: 1,
      pageSize: this.$getPage(),
      total: 0,

      //  查询参数
      filter: {
        name: null
      },
      //  表单参数
      region: {
        id: null,
        parentId: null,
        name: null
      },
      rules: {
        name: [
          { required: true, message: '必填', trigger: 'blur' },
          { max: 6, message: '不能超过6个字符' }
        ]
      },
      dialogFormVisible: false,
      formLoading: false,
      dialogStatus: '',

      // 公司区域列表
      listRegion: []
    }
  },
  methods: {
    //  点击树事件
    handleNodeClick(data, node) {
      this.tree.id = data.id
      this.getTableList()
    },
    //  树数据
    async getTree() {
      await this.getListRegion(0)
      const treeData = [{
        id: null,
        parentId: null,
        name: '全部',
        children: this.listRegion
      }]
      this.treeData = treeData
      this.getTableList()
    },
    async getTableList() {
      const params = {
        name: this.filter.name,
        parentId: this.tree.id,
        page: this.currentPage,
        rows: this.pageSize
      }
      const response = await this.$companyHttp.post('/region/page', params)
      this.tableData = response.data.data.rows
      this.total = response.data.data.total
      this.listLoading = false
    },
    //  添加
    handleCreate() {
      // 清空表单数据
      if (this.$refs['editForm']) {
        this.$refs['editForm'].resetFields()
      }
      this.region = {
        id: null,
        parentId: null,
        name: null
      }
      this.dialogStatus = 'create'
      this.dialogFormVisible = true
      this.formLoading = false
    },
    //  保存表单操作
    async create() {
      //  验证表单
      await this.$validate('editForm')
      const params = JSON.parse(JSON.stringify(this.region))
      // params.level = 1
      // console.log(params)
      this.formLoading = true
      const response = await this.$companyHttp.post('/region/add', params)
      this.formLoading = false
      this.dialogFormVisible = false
      this.getTree()
      this.$msg(response)
    },
    //  修改
    handleUpdate(row) {
      // 清空表单数据
      if (this.$refs['editForm']) {
        this.$refs['editForm'].resetFields()
      }
      //  回显数据
      const region = this.region
      for (const key in region) {
        if (region.hasOwnProperty(key)) {
          region[key] = row[key]
        }
      }
      this.dialogStatus = 'update'
      this.dialogFormVisible = true
      this.formLoading = false
    },
    //  修改表单操作
    async update() {
      //  验证表单
      await this.$validate('editForm')
      const params = JSON.parse(JSON.stringify(this.region))
      this.formLoading = true
      const response = await this.$companyHttp.post('/region/update', params)
      this.formLoading = false
      this.dialogFormVisible = false
      this.getTree()
      this.$msg(response)
    },
    //  删除
    // async handleDelete(row) {
    //   await this.$myConfirm('是否删除数据?')
    //   const response = await this.$companyHttp.get('/region/update', { id: row.id })
    //   this.getTree()
    //   this.getTableList()
    //   this.$msg(response)
    // },
    // 获取公司区域列表
    async getListRegion(parentId) {
      const response = await this.$companyHttp.post('/region/list', { parentId })
      this.listRegion = response.data.data
    }
  },
  computed: {

  },
  watch: {
    'filter.level'() {
      this.getTableList()
    }
  },
  mounted() {
    this.getTree()
    // this.getTableList()
  }
}
</script>

<style scoped>

</style>
