<template>
  <div class="xxs_components_container">
    <div class="xxs_filter_block">
      <el-button class="filter-item" type="primary" icon="edit" @click="handleCreate">添加</el-button>
      <el-input @keyup.enter.native="$handleFilter" v-model="filter.name" class="filter-item" placeholder="公司名称"></el-input>
      <el-button class="filter-item" type="primary" icon="search" @click="$handleFilter">搜索</el-button>
    </div>
    <el-table
      :data="tableData"
      v-loading="listLoading"
      element-loading-text="加载中"
      border
      fit
      highlight-current-row
      style="width: 100%">
      <el-table-column class-name="xxs_operate" align="center" label="操作" width="160">
        <template slot-scope="scope">
          <el-button  size="small" @click="handleSupport(scope.row)">补全信息</el-button>
          <el-button  size="small" :plain="true" type="danger" @click="handleDelete(scope.row)">删除</el-button>
        </template>
      </el-table-column>
      <el-table-column prop="name" label="公司名称" width="120"></el-table-column>
      <el-table-column prop="summary" label="简介"  width="120" show-overflow-tooltip></el-table-column>
      <el-table-column prop="companySortName" label="所属分类"  width="120"></el-table-column>
      <el-table-column prop="regionName" label="地方名"  width="120"></el-table-column>
      <el-table-column prop="imageUrl" label="公司图片" width="140">
        <template slot-scope="scope">
          <div style="text-align: center;">
            <img :src="scope.row.imageUrl" alt="" class="image_class" @click="imagePreview(scope.row.imageUrl)"/>
          </div>
        </template>
      </el-table-column>
      <el-table-column label="发布时间" width="170">
        <template slot-scope="scope">
          <span>{{ scope.row.publishTime | parseTime }}</span>
        </template>
      </el-table-column>
      <el-table-column prop="state" label="状态" width="80">
        <template slot-scope="scope">
          <span>{{ stateCode[scope.row.state] }}</span>
        </template>
      </el-table-column>
      <el-table-column prop="updateTime" label="更新时间" width="170">
        <template slot-scope="scope">
          <span>{{ scope.row.updateTime | parseTime }}</span>
        </template>
      </el-table-column>
      <el-table-column prop="createTime" label="创建时间" width="170">
        <template slot-scope="scope">
          <span>{{ scope.row.createTime | parseTime }}</span>
        </template>
      </el-table-column>
    </el-table>
    <div class="xxs_page_block">
      <el-pagination @size-change="$handleSizeChange" @current-change="$handleCurrentChange" :current-page="currentPage" :page-sizes="[10, 20, 50, 100]" :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total">
      </el-pagination>
    </div>

    <!-- 编辑 框 -->
    <el-dialog title="添加公司" :visible.sync="dialogFormVisible" width="600px">
      <el-form
        :model="company"
        :rules="rules"
        ref="editForm"
        label-position="right" label-width="100px">
        <el-form-item label="公司名称" prop="name">
          <el-input v-model="company.name" class="w-input-235"></el-input>
        </el-form-item>
        <el-form-item label="图片">
          <el-upload
            list-type="picture-card"
            :action="$imageBaseApi() + '/uploadSysAblum'"
            :show-file-list="false"
            :on-success="handleSuccess"
            :before-upload="beforeUpload">
            <img v-if="successImgeUrl" :src="successImgeUrl" class="avatar">
            <i v-else class="el-icon-plus"></i>
          </el-upload>
        </el-form-item>
        <el-form-item label="所属区域" prop="regionId">
          <el-select
            class="w-input-235"
            v-model="company.regionId"
            placeholder="">
            <el-option v-for="item in listRegion" :key="item.id" :label="item.name" :value="item.id">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="所属分类" prop="sortId">
          <el-select
            class="w-input-235"
            v-model="company.sortId"
            placeholder="">
            <el-option v-for="item in listSort" :key="item.id" :label="item.name" :value="item.id">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="摘要" prop="summary">
          <el-input
            type="textarea"
            :rows="2"
            placeholder="请输入内容"
            v-model="company.summary">
          </el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer" v-loading="formLoading">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button v-if="dialogStatus ==='create'" type="primary" @click="create">确 定</el-button>
        <!-- <el-button v-else type="primary" @click="update">确 定</el-button> -->
      </div>
    </el-dialog>

    <!-- 补全信息 框 -->
    <el-dialog title="补全信息" :visible.sync="dialogDetailVisible" width="750px">
      <el-form
      :model="support"
      ref="supportForm"
      label-position="right" label-width="100px">
        <el-row>
          <el-col :span="12">
            <el-form-item label="公司全称" prop="fullName">
              <el-input v-model="support.fullName" class="w-input-235"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="公司网址" prop="url">
              <el-input v-model="support.url" class="w-input-235"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="公司地址" prop="address">
              <el-input v-model="support.address" class="w-input-235"></el-input>
            </el-form-item>
            </el-col>
          <el-col :span="12">
            <el-form-item label="创始时间" prop="founderNo">
              <el-date-picker
                v-model="support.establishTime"
                type="date"
                placeholder="选择日期">
              </el-date-picker>
            </el-form-item>
          </el-col>
        </el-row>
        <el-form-item label="营业时间">
          <el-date-picker
            v-model="support.businessStartTime"
            type="date"
            placeholder="开始时间">
          </el-date-picker>
          <span style="margin: 0 15px;">至</span>
          <el-date-picker
            v-model="support.businessEndTime"
            type="date"
            placeholder="结束时间">
          </el-date-picker>
        </el-form-item>
        <el-row>
          <el-col :span="12">
            <el-form-item label="创始人Id" prop="founderNo">
              <el-input v-model="support.founderNo" class="w-input-235"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="联系电话" prop="phone">
              <el-input v-model="support.phone" class="w-input-235"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="公司类型" prop="paidupCapital">
              <el-input v-model="support.paidupCapital" class="w-input-235"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="法定代表人" prop="legalRepresentative">
              <el-input v-model="support.legalRepresentative" class="w-input-235"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-form-item label="团队介绍" prop="team">
          <el-input v-model="support.team" type="textarea"></el-input>
        </el-form-item>
        <el-form-item label="内容" prop="content">
          <el-input v-model="support.content" type="textarea"></el-input>
        </el-form-item>
        <el-form-item label="优势" prop="advantage">
          <el-input v-model="support.advantage" type="textarea"></el-input>
        </el-form-item>
        <el-form-item label="历史发展" prop="history">
          <el-input v-model="support.history" type="textarea"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer" v-loading="formLoading">
        <el-button @click="dialogDetailVisible = false">取 消</el-button>
        <el-button v-if="dialogStatus === 'support'" type="primary" @click="supportReq()">确 定</el-button>
        <!-- <el-button v-else type="primary" @click="update">确 定</el-button> -->
      </div>
    </el-dialog>

    <!-- 图片预览 -->
    <el-dialog :visible.sync="imgDialogVisible">
      <img width="100%" :src="imageUrl" alt="">
    </el-dialog>

  </div>
</template>
<script>
const img_http_url = 'http://111.230.209.144:8080/img-server/findSysAblum?imageNo='
const stateCode = {
  'isNormal': '正常',
  'isDelete': '删除'
}
export default {
  data() {
    return {
      //  图片上传成功参数
      successImgeUrl: null,
      //  图片预览参数
      imageUrl: null,
      imgDialogVisible: false,
      img_http_url,
      //  页面参数
      listLoading: false,
      tableData: [],
      currentPage: 1,
      pageSize: this.$getPage(),
      total: 0,
      stateCode,

      listRegion: [],
      listSort: [],

      //  查询参数
      filter: {
        name: null
      },
      //  表单参数
      company: {
        companyNo: null,
        name: null,
        picNo: null,
        regionId: null,
        sortId: null,
        state: null,
        summary: null
      },
      support: {
        address: null,
        advantage: null,
        businessEndTime: null,
        businessStartTime: null,
        companyNo: null,
        content: null,
        establishTime: null,
        founderNo: null,
        fullName: null,
        history: null,
        legalRepresentative: null,
        paidupCapital: null,
        phone: null,
        team: null,
        picNos: null,
        url: null
      },
      rules: {
        name: [
          { required: true, message: '必填', trigger: 'blur' },
          { max: 6, message: '不能超过6个字符' }
        ],
        summary: [
          { required: true, message: '必填', trigger: 'blur' },
          { max: 2556, message: '不能超过255个字符' }
        ],
        regionId: [
          { required: true, message: '必选', trigger: 'change' }
        ],
        sortId: [
          { required: true, message: '必选', trigger: 'change' }
        ]
      },
      dialogFormVisible: false,
      dialogDetailVisible: false,
      formLoading: false,
      dialogStatus: ''
    }
  },
  methods: {
    async getTableList() {
      const params = {
        name: this.filter.name,
        page: this.currentPage,
        rows: this.pageSize
      }
      const response = await this.$companyHttp.post('/company/page', params)
      this.tableData = response.data.data.records
      if (this.tableData.length > 0) {
        this.tableData.forEach(item => {
          item.imageUrl = this.img_http_url + item.picNo
        })
      }
      this.total = response.data.data.total
      this.listLoading = false
    },
    //  添加
    async handleCreate() {
      // 清空表单数据
      if (this.$refs['editForm']) {
        this.$refs['editForm'].resetFields()
      }
      this.successImgeUrl = null
      this.company = {
        companyNo: null,
        name: null,
        picNo: null,
        regionId: null,
        sortId: null,
        state: null,
        summary: null
      }
      await this.getRegionList()
      await this.getSortList()
      this.dialogStatus = 'create'
      this.dialogFormVisible = true
      this.formLoading = false
    },
    //  保存表单操作
    async create() {
      //  验证表单
      await this.$validate('editForm')
      const params = JSON.parse(JSON.stringify(this.company))
      params.state = 'isNormal'
      this.formLoading = true
      const response = await this.$companyHttp.post('/company/add', params)
      // console.log(params)
      this.formLoading = false
      this.dialogFormVisible = false
      this.getTableList()
      this.$msg(response)
    },
    //  补全信息
    async handleSupport(row) {
      // 清空表单数据
      if (this.$refs['supportForm']) {
        this.$refs['supportForm'].resetFields()
      }
      const res = await this.$companyHttp.get('/company/detail', { companyNo: row.companyNo })
      const detail = res.data.data
      if (detail) {
        //  回显数据
        const support = this.support
        for (const key in support) {
          if (support.hasOwnProperty(key)) {
            support[key] = detail[key]
          }
        }
      } else {
        this.support = {
          address: null,
          advantage: null,
          businessEndTime: null,
          businessStartTime: null,
          companyNo: row.companyNo,
          content: null,
          establishTime: null,
          founderNo: null,
          fullName: null,
          history: null,
          legalRepresentative: null,
          paidupCapital: null,
          phone: null,
          team: null,
          picNos: null,
          url: null
        }
      }
      this.dialogStatus = 'support'
      this.dialogDetailVisible = true
      this.formLoading = false
    },
    async supportReq() {
      //  验证表单
      await this.$validate('supportForm')
      const params = JSON.parse(JSON.stringify(this.support))
      params.businessEndTime = new Date(params.businessEndTime).getTime()
      params.businessStartTime = new Date(params.businessStartTime).getTime()
      params.establishTime = new Date(params.establishTime).getTime()
      this.formLoading = true
      const response = await this.$companyHttp.post('/company/support', params)
      console.log(params)
      this.formLoading = false
      this.dialogDetailVisible = false
      this.getTableList()
      this.$msg(response)
    },
    //  修改
    handleUpdate(row) {
      // 清空表单数据
      if (this.$refs['editForm']) {
        this.$refs['editForm'].resetFields()
      }
      //  回显数据
      const sort = this.sort
      for (const key in sort) {
        if (sort.hasOwnProperty(key)) {
          sort[key] = row[key]
        }
      }
      this.dialogStatus = 'update'
      this.dialogFormVisible = true
      this.formLoading = false
    },
    //  修改表单操作
    async update() {
      //  验证表单
      await this.$validate('editForm')
      const params = JSON.parse(JSON.stringify(this.sort))
      this.formLoading = true
      const response = await this.$companyHttp.post('/sort/update', params)
      this.formLoading = false
      this.dialogFormVisible = false
      this.getTableList()
      this.$msg(response)
    },
    //  删除
    async handleDelete(row) {
      await this.$myConfirm('是否删除数据?')
      const response = await this.$companyHttp.get('/company/del', { companyNo: row.companyNo })
      this.getTableList()
      this.$msg(response)
    },
    //  获取区域列表
    async getRegionList() {
      const res = await this.$companyHttp.post('/region/list', { parentId: null })
      const list = res.data.data || []
      this.listRegion = []
      list.forEach(item => {
        if (item.parentId !== '0') {
          this.listRegion.push(item)
        }
      })
    },
    async getSortList() {
      const res = await this.$companyHttp.post('/sort/list', { state: 'isNormal' })
      this.listSort = res.data.data || []
    },
    //  获取分类列表
    //  上传成功
    handleSuccess(response) {
      this.successImgeUrl = response.imageUrl
      this.company.picNo = response.imageNo
    },
    //  上传之前
    beforeUpload() {
    },
    imagePreview(imageUrl) {
      this.imgDialogVisible = true
      this.imageUrl = imageUrl
    }
  },
  computed: {

  },
  mounted() {
    this.getTableList()
  }
}
</script>

<style scoped lang="scss">
.image_class {
  margin-top: 6px;
  width: 110px;
  height: 62px;
  cursor: pointer;
}
.avatar {
  line-height: 146px;
  border-radius: 6px;
  width: 148px;
  height: 148px;
}
.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
</style>
