<template>
  <div class="xxs_components_container">
    <div class="xxs_filter_block">
      <el-button class="filter-item" type="primary" icon="edit" @click="handleCreate">添加</el-button>
      <el-input @keyup.enter.native="$handleFilter" v-model="filter.name" class="filter-item" placeholder="分类名称"></el-input>
      <el-button class="filter-item" type="primary" icon="search" @click="$handleFilter">搜索</el-button>
    </div>
    <el-table
      :data="tableData"
      v-loading="listLoading"
      element-loading-text="加载中"
      border
      fit
      highlight-current-row
      style="width: 100%">
      <el-table-column class-name="xxs_operate" align="center" label="操作" width="140">
        <template slot-scope="scope">
          <el-button  size="small" @click="handleUpdate(scope.row)">修改</el-button>
          <el-button  size="small" :plain="true" type="danger" @click="handleDelete(scope.row)">删除</el-button>
        </template>
      </el-table-column>
      <el-table-column prop="name" label="分类名称" width="180"></el-table-column>
      <el-table-column prop="state" label="状态"  width="180"></el-table-column>
      <el-table-column prop="updateTime" label="更新时间" width="180">
        <template slot-scope="scope">
          <span>{{ scope.row.updateTime | parseTime }}</span>
        </template>
      </el-table-column>
      <el-table-column prop="createTime" label="创建时间" width="180">
        <template slot-scope="scope">
          <span>{{ scope.row.createTime | parseTime }}</span>
        </template>
      </el-table-column>
    </el-table>
    <div class="xxs_page_block">
      <el-pagination @size-change="$handleSizeChange" @current-change="$handleCurrentChange" :current-page="currentPage" :page-sizes="[10, 20, 50, 100]" :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total">
      </el-pagination>
    </div>

    <!-- 分类编辑 框 -->
    <el-dialog title="分类编辑" :visible.sync="dialogFormVisible" width="550px">
      <el-form
        :model="sort"
        :rules="rules"
        ref="editForm"
        label-position="right" label-width="100px">
        <el-form-item label="分类名称" prop="name">
          <el-input v-model="sort.name" class="w-input-235"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer" v-loading="formLoading">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button v-if="dialogStatus=='create'" type="primary" @click="create">确 定</el-button>
        <el-button v-else type="primary" @click="update">确 定</el-button>
      </div>
    </el-dialog>


  </div>
</template>
<script>
export default {
  data() {
    return {
      //  页面参数
      listLoading: false,
      tableData: [],
      currentPage: 1,
      pageSize: this.$getPage(),
      total: 0,

      //  查询参数
      filter: {
        name: null
      },
      //  表单参数
      sort: {
        id: null,
        name: null,
        state: null
      },
      rules: {
        name: [
          { required: true, message: '必填', trigger: 'blur' },
          { max: 6, message: '不能超过6个字符' }
        ]
      },
      dialogFormVisible: false,
      formLoading: false,
      dialogStatus: ''
    }
  },
  methods: {
    async getTableList() {
      const params = {
        name: this.filter.name,
        page: this.currentPage,
        rows: this.pageSize
      }
      const response = await this.$companyHttp.post('/sort/page', params)
      this.tableData = response.data.data.rows
      this.total = response.data.data.total
      this.listLoading = false
    },
    //  添加
    handleCreate() {
      // 清空表单数据
      if (this.$refs['editForm']) {
        this.$refs['editForm'].resetFields()
      }
      this.sort = {
        id: null,
        name: null
      }
      this.dialogStatus = 'create'
      this.dialogFormVisible = true
      this.formLoading = false
    },
    //  保存表单操作
    async create() {
      //  验证表单
      await this.$validate('editForm')
      const params = JSON.parse(JSON.stringify(this.sort))
      this.formLoading = true
      const response = await this.$companyHttp.post('/sort/add', params)
      this.formLoading = false
      this.dialogFormVisible = false
      this.getTableList()
      this.$msg(response)
    },
    //  修改
    handleUpdate(row) {
      // 清空表单数据
      if (this.$refs['editForm']) {
        this.$refs['editForm'].resetFields()
      }
      //  回显数据
      const sort = this.sort
      for (const key in sort) {
        if (sort.hasOwnProperty(key)) {
          sort[key] = row[key]
        }
      }
      this.dialogStatus = 'update'
      this.dialogFormVisible = true
      this.formLoading = false
    },
    //  修改表单操作
    async update() {
      //  验证表单
      await this.$validate('editForm')
      const params = JSON.parse(JSON.stringify(this.sort))
      this.formLoading = true
      const response = await this.$companyHttp.post('/sort/update', params)
      this.formLoading = false
      this.dialogFormVisible = false
      this.getTableList()
      this.$msg(response)
    },
    //  删除
    async handleDelete(row) {
      await this.$myConfirm('是否删除数据?')
      const response = await this.$companyHttp.get('/sort/del', { id: row.id, isAll: false })
      this.getTableList()
      this.$msg(response)
    }
  },
  computed: {

  },
  mounted() {
    this.getTableList()
  }
}
</script>

<style scoped>

</style>
