<template>
  <div>
    <el-form ref="articleForm" :model="article" :rules="rules">
      <sticky :class-name="'sub-navbar draft'" >
        <i class="el-icon-arrow-left return">&nbsp;返&nbsp;回</i>
        <el-button type="success" style="float: right; margin-top: 7px;">保存草稿</el-button>
      </sticky>
      <div class="xxs_edit_article_container">
        <el-form-item style="margin-bottom: 40px;" prop="title">
          <md-input v-model="article.title" :maxlength="30" required>
            标 题
          </md-input>
          <span v-show="titleLength" class="word-counter">{{ titleLength }}/30</span>
        </el-form-item>
        <el-form-item style="margin-bottom: 40px;" prop="summary">
          <md-input v-model="article.summary" :maxlength="100" placeholder="请输入内容">
            摘 要
          </md-input>
          <span v-show="summaryLength" class="word-counter">{{ summaryLength }}/100</span>
        </el-form-item>
        <el-row :gutter="24" style="margin-bottom: 40px;">
          <el-col :span="3" style="margin-top: 45px">
            <el-form-item  label="封面图片:">
              <el-button type="info" size="small" plain @click="openCopper()">上传图片</el-button>
            </el-form-item>
          </el-col>
          <el-col :span="5">
            <div class="cover_img">
              <img :src="imgUrl" alt="">
            </div>
          </el-col>
        </el-row>
        <div>
          <Tinymce ref="editor" v-model="article.content" />
        </div>
      </div>
    </el-form>

    <!-- 裁剪图片 -->
    <el-dialog title="封面图片裁剪" :visible.sync="dialogFormVisible">
      <cropper ref="cropper" @subEven="subEven"></cropper>
    </el-dialog>
  </div>
</template>

<script>

import cropper from '@/components/cropper'
import Sticky from '@/components/Sticky'
import Tinymce from '@/components/Tinymce'
import MDinput from '@/components/MDinput'
export default {
  components: {
    Sticky,
    'md-input': MDinput,
    cropper,
    Tinymce
  },
  data() {
    return {
      //  表单参数
      article: {
        id: null,
        title: '',
        summary: '',
        content: null,
        imageNo: null
      },
      rules: {
        title: [
          { required: true, message: '必填', tigger: 'blur' },
          { max: 30, message: '不能超过30个字符' }
        ],
        summary: [
          { required: true, message: '必填', tigger: 'blur' },
          { max: 100, message: '不能超过100个字符' }
        ]
      },
      //  dialog参数
      dialogFormVisible: false,
      //  封面
      imgUrl: null
    }
  },
  methods: {
    //  打开裁剪图片 dialog
    openCopper() {
      this.dialogFormVisible = true
    },
    //  子组件事件
    subEven(imgUrl) {
      this.dialogFormVisible = false
      this.imgUrl = imgUrl
    }
  },
  computed: {
    summaryLength() {
      return this.article.summary.length
    },
    titleLength() {
      return this.article.title.length
    }
  }
}
</script>

<style scoped lang="scss">
.return {
  font-size: 20px;
  padding-left: 20px;
  cursor: pointer;
  color: rgb(34, 34, 34);
  &:hover {
    color: rgb(32, 160, 255);
  }
}
.xxs_edit_article_container {
  padding: 10px 45px 20px 50px;
}
// 字数样式
.word-counter {
  width: 40px;
  position: absolute;
  right: -10px;
  top: 0px;
}
.cover_img {
  margin-left: -20px;
  img {
    height: 124px;
    width: 220px;
  }
}

</style>
