<template>
  <div v-loading="formLoading">
    <el-form ref="articleForm" :model="article" :rules="rules">
      <sticky :class-name="'sub-navbar draft'" >
        <i class="el-icon-arrow-left return" @click="backToNews">&nbsp;返&nbsp;回</i>
        <el-button v-if="routeParams.isAdd === 1"  @click="create" type="success" style="float: right; margin-top: 7px;">保存草稿</el-button>
        <el-button v-else  @click="update" type="success" style="float: right; margin-top: 7px;">保存草稿</el-button>
      </sticky>
      <div class="xxs_edit_article_container">
        <el-form-item style="margin-bottom: 40px;" prop="title">
          <md-input v-model="article.title" :maxlength="30" required>
            标 题
          </md-input>
          <span v-show="titleLength" class="word-counter">{{ titleLength }}/30</span>
        </el-form-item>
        <el-form-item style="margin-bottom: 40px;" prop="summary">
          <md-input v-model="article.summary" :maxlength="100" placeholder="请输入内容">
            摘 要
          </md-input>
          <span v-show="summaryLength" class="word-counter">{{ summaryLength }}/100</span>
        </el-form-item>
        <el-row :gutter="24" style="margin-bottom: 40px;">
          <el-col :span="3" style="margin-top: 45px">
            <el-form-item  label="封面图片:">
              <el-button type="info" size="small" plain @click="openCopper()">上传图片</el-button>
            </el-form-item>
          </el-col>
          <el-col :span="5">
            <div class="cover_img">
              <img :src="article.imageUrl" alt="">
            </div>
          </el-col>
        </el-row>
        <div>
          <Tinymce v-if="show" ref="editor" v-model="article.content" />
        </div>
      </div>
    </el-form>

    <!-- 裁剪图片 -->
    <el-dialog title="封面图片裁剪" :visible.sync="dialogFormVisible">
      <cropper ref="cropper" @subEven="subEven"></cropper>
    </el-dialog>
  </div>
</template>

<script>
import router from '@/router'
import cropper from '@/components/cropper'
import Sticky from '@/components/Sticky'
import Tinymce from '@/components/Tinymce'
import MDinput from '@/components/MDinput'
export default {
  components: {
    Sticky,
    'md-input': MDinput,
    cropper,
    Tinymce
  },
  data() {
    return {
      formLoading: false,
      //  路由传来的参数
      routeParams: {
        id: this.$route.query.articleNo, // 文章id
        isAdd: this.$route.query.isAdd, //  新增or 修改标志位 1新增 0更新
        channelId: this.$route.query.channelId //  频道id
      },
      //  表单参数
      article: {
        id: null,
        channelId: null,
        title: '',
        summary: '',
        content: null,
        imageNo: null,
        imageUrl: null
      },
      rules: {
        title: [
          { required: true, message: '必填', tigger: 'blur' },
          { max: 30, message: '不能超过30个字符' }
        ],
        summary: [
          { required: true, message: '必填', tigger: 'blur' },
          { max: 100, message: '不能超过100个字符' }
        ]
      },
      //  dialog参数
      dialogFormVisible: false,
      show: false
    }
  },
  methods: {
    //  打开裁剪图片 dialog
    openCopper() {
      this.dialogFormVisible = true
    },
    //  子组件事件
    subEven(res) {
      this.dialogFormVisible = false
      this.article.imageUrl = res.data.imageUrl
      this.article.imageNo = res.data.imageNo
    },
    //  新增按钮
    async create() {
      const params = JSON.parse(JSON.stringify(this.article))
      params.channelId = this.routeParams.channelId
      if (!params.imageNo) {
        this.$tip('封面图片不能为空')
        return
      }
      if (!params.content) {
        this.$tip('文章内容不能为空')
        return
      }
      this.formLoading = true
      const response = await this.$newsModuleHttp.post('/newsArticle/createNewArticle', params)
      this.formLoading = false
      this.$msg(response)
      if (response.data.statusCode === 200) {
        router.push({ path: '/article/news' })
      }
    },
    //  修改按钮
    async update() {
      const params = JSON.parse(JSON.stringify(this.article))
      if (!params.imageNo) {
        this.$tip('封面图片不能为空')
        return
      }
      if (!params.content) {
        this.$tip('文章内容不能为空')
        return
      }
      this.formLoading = true
      params.id = params.articleNo
      const response = await this.$newsModuleHttp.post('/newsArticle/updateNewsArticle', params)
      this.formLoading = false
      this.$msg(response)
      if (response.data.statusCode === 200) {
        router.push({ path: '/article/news' })
      }
    },
    async getArticleById(articleId) {
      return await this.$newsModuleHttp.get('/newsArticle/getDraftById', { id: articleId })
      // this.article = response.data.data
      // this.article.imageUrl = 'http://111.230.209.144:8080/img-server/findSysAblum?imageNo=' + this.article.imageNo
    },
    //  返回按钮
    async backToNews() {
      await this.$myConfirm('内容尚未保存,确认返回?')
      router.push({ path: '/article/news' })
    }
  },
  computed: {
    summaryLength() {
      if (this.article.summary) {
        return this.article.summary.length
      }
    },
    titleLength() {
      if (this.article.title) {
        return this.article.title.length
      }
    }
  },
  created() {
    this.$nextTick(() => {
      if (this.routeParams.isAdd === 0) {
        this.getArticleById(this.routeParams.id).then(res => {
          this.article = res.data.data
          this.article.imageUrl = 'http://111.230.209.144:8080/img-server/findSysAblum?imageNo=' + this.article.imageNo
          this.show = true
        })
        // this.$refs.editor.init()
      } else {
        this.show = true
      }
    })
  }
}
</script>

<style scoped lang="scss">
.return {
  font-size: 20px;
  padding-left: 20px;
  cursor: pointer;
  color: rgb(34, 34, 34);
  &:hover {
    color: rgb(32, 160, 255);
  }
}
.xxs_edit_article_container {
  padding: 10px 45px 20px 50px;
}
// 字数样式
.word-counter {
  width: 40px;
  position: absolute;
  right: -10px;
  top: 0px;
}
.cover_img {
  margin-left: -20px;
  img {
    height: 124px;
    width: 220px;
  }
}

</style>
