<template>
  <div style="margin-left: 30px">
    <h3>热门文章</h3>
    <el-button @click="test">测试</el-button>
    <div>图片上传</div>
    <!-- action 填请求url ！！！！！！！！ -->
    <el-upload
      :action="$newsModuleBaseApi() + '/uploadSysAblum'"
      list-type="picture-card"
      :before-upload="uploadBefore"
      :on-error="uploadError"
      :on-success="uploadSuccess">
      <i class="el-icon-plus"></i>
    </el-upload>
  </div>
</template>

<script>
  // import axios from 'axios'
  export default {
    data() {
      return {
        dialogImageUrl: '',
        dialogVisible: false
      }
    },
    methods: {
      test() {
        this.$newsModuleHttp.post('/news/index').then(res => {
          console.log(res)
        })
      },
      //  图片上传方法
      //  看大图
      handlePictureCardPreview(file) {
        this.dialogImageUrl = file.url
        this.dialogVisible = true
      },
      //  上传之前
      uploadBefore(file) {
        console.log('上传之前')
      },
      //  上传成功  response是后台返回的数据
      uploadSuccess(response, file, fileList) {
        console.log(response)
      },
      //  上传失败
      uploadError(response, file, fileList) {
        console.log('失败啦啦啦')
      }
    }
  }
</script>

<style scoped>
</style>
