<template>
  <div class="xxs_components_container">
    <el-row :gutter="8">
      <el-col :span="3">
        <el-tree
          :data="treeData"
          :props="defaultProps"
          @node-click="handleNodeClick"
          :default-expand-all="true"
          highlight-current
          :expand-on-click-node="false"></el-tree>
      </el-col>
      <el-col :span="21">
        <div>
          <div class="xxs_filter_block">
            <el-button class="filter-item" type="primary" icon="edit" @click="handleCreate">添加</el-button>
            <el-input @keyup.enter.native="$handleFilter" v-model="filter.name" class="filter-item" placeholder="频道名称"></el-input>
            <el-select
            clearable
            class="filter-item"
            v-model="filter.level"
            placeholder="频道等级">
            <el-option v-for="(value, key) in levelCode" :key="key" :label="value" :value="+key">
            </el-option>
          </el-select>
            <el-button class="filter-item" type="primary" icon="search" @click="$handleFilter">搜索</el-button>
          </div>
          <el-table
            :data="tableData"
            v-loading="listLoading"
            element-loading-text="加载中"
            border
            fit
            highlight-current-row
            style="width: 100%">
            <el-table-column class-name="xxs_operate" align="center" label="操作" width="140">
              <template slot-scope="scope">
                <el-button  size="small" @click="handleUpdate(scope.row)">修改</el-button>
                <el-button  size="small" :plain="true" type="danger" @click="handleDelete(scope.row)">删除</el-button>
              </template>
            </el-table-column>
            <el-table-column prop="name" label="频道名称" width="180"></el-table-column>
            <el-table-column prop="level" label="频道等级" width="180">
              <template slot-scope="scope">
                <span>{{ scope.row.level + '级频道' }}</span>
              </template>
            </el-table-column>
            <el-table-column prop="description" label="频道描述" show-overflow-tooltip width="180"></el-table-column>
            <el-table-column prop="updateTime" label="更新时间" width="180">
              <template slot-scope="scope">
                <span>{{ scope.row.updateTime | parseTime }}</span>
              </template>
            </el-table-column>
            <el-table-column prop="createTime" label="创建时间" width="180">
              <template slot-scope="scope">
                <span>{{ scope.row.createTime | parseTime }}</span>
              </template>
            </el-table-column>
          </el-table>
          <div class="xxs_page_block">
            <el-pagination @size-change="$handleSizeChange" @current-change="$handleCurrentChange" :current-page="currentPage" :page-sizes="[10, 20, 50, 100]" :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total">
            </el-pagination>
          </div>
        </div>
      </el-col>
    </el-row>

    <!-- 频道编辑框 -->
    <el-dialog title="频道编辑" :visible.sync="dialogFormVisible" width="550px">
      <el-form
        :model="channel"
        :rules="rules"
        ref="editForm"
        label-position="right" label-width="100px">
        <el-form-item label="父级频道">
          <el-select
            class="w-input-235"
            :disabled="!!channel.id"
            v-model="channel.parentId"
            placeholder="">
            <el-option v-if="+channel.parentId === 0" label="无" :value="0">无</el-option>
            <el-option v-else label="无" value="">无</el-option>
            <el-option v-for="item in listChannel" :key="item.id" :label="item.name" :value="item.id">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="频道名称" prop="name">
          <el-input v-model="channel.name" class="w-input-235"></el-input>
        </el-form-item>
        <el-form-item label="排序" prop="sort">
          <el-input-number v-model="channel.sort" :step="1" :precision="10" controls-position="right" :min="1" class="w-input-235">
          </el-input-number>
        </el-form-item>
        <el-form-item label="频道描述" prop="description">
          <el-input v-model="channel.description" type="textarea" :autosize="{ minRows: 3, maxRows: 5}" placeholder="请输入内容" >
          </el-input>
        </el-form-item>

      </el-form>
      <div slot="footer" class="dialog-footer" v-loading="formLoading">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button v-if="dialogStatus=='create'" type="primary" @click="create">确 定</el-button>
        <el-button v-else type="primary" @click="update">确 定</el-button>
      </div>
    </el-dialog>


  </div>
</template>

<script>
const levelCode = {
  '1': '一级频道',
  '2': '二级频道'
}
export default {
  data() {
    return {
      //  树参数
      treeData: [],
      defaultProps: {
        children: 'children',
        label: 'name'
      },
      tree: {
        id: null,
        name: null,
        level: null
      },
      //  页面参数
      listLoading: false,
      tableData: [],
      currentPage: 1,
      pageSize: this.$getPage(),
      total: 0,

      //  查询参数
      levelCode,
      filter: {
        name: null,
        level: null
      },
      //  表单参数
      channel: {
        id: null,
        parentId: null,
        name: null,
        description: null,
        sort: null
      },
      rules: {
        name: [
          { required: true, message: '必填', trigger: 'blur' },
          { max: 6, message: '不能超过6个字符' }
        ],
        description: [
          { required: true, message: '必填', trigger: 'blur' },
          { max: 200, message: '不能超过200个字符' }
        ],
        sort: [
          { required: true, message: '必填', trigger: 'blur' }
        ]
      },
      dialogFormVisible: false,
      formLoading: false,
      dialogStatus: '',

      // 频道列表
      listChannel: []
    }
  },
  methods: {
    //  点击树事件
    handleNodeClick(data, node) {
      this.tree.id = data.id
      this.getTableList()
    },
    //  树数据
    async getTree() {
      await this.getListChannel()
      const treeData = [{
        id: null,
        parentId: null,
        name: '全部',
        children: this.listChannel
      }]
      this.treeData = treeData
      this.getTableList()
    },
    async getTableList() {
      const params = {
        name: this.filter.name,
        level: this.filter.level,
        parentId: this.tree.id,
        page: this.currentPage,
        rows: this.pageSize
      }
      const response = await this.$newsModuleHttp.post('/newsChannel/pageChannel', params)
      this.tableData = response.data.data.records
      this.total = response.data.data.total
      this.listLoading = false
    },
    //  添加
    handleCreate() {
      // 清空表单数据
      if (this.$refs['editForm']) {
        this.$refs['editForm'].resetFields()
      }
      this.channel = {
        id: null,
        parentId: null,
        name: null,
        description: null,
        sort: 1
      }
      this.dialogStatus = 'create'
      this.dialogFormVisible = true
      this.formLoading = false
    },
    //  保存表单操作
    async create() {
      //  验证表单
      await this.$validate('editForm')
      const params = JSON.parse(JSON.stringify(this.channel))
      // params.level = 1
      // console.log(params)
      this.formLoading = true
      const response = await this.$newsModuleHttp.post('/newsChannel/createChannel', params)
      this.formLoading = false
      this.dialogFormVisible = false
      this.getTree()
      this.getTableList()
      this.$msg(response)
    },
    //  修改
    handleUpdate(row) {
      // 清空表单数据
      if (this.$refs['editForm']) {
        this.$refs['editForm'].resetFields()
      }
      //  回显数据
      const channel = this.channel
      for (const key in channel) {
        if (channel.hasOwnProperty(key)) {
          channel[key] = row[key]
        }
      }
      this.dialogStatus = 'update'
      this.dialogFormVisible = true
      this.formLoading = false
    },
    //  修改表单操作
    async update() {
      //  验证表单
      await this.$validate('editForm')
      const params = JSON.parse(JSON.stringify(this.channel))
      this.formLoading = true
      const response = await this.$newsModuleHttp.post('/newsChannel/updateChannel', params)
      this.formLoading = false
      this.dialogFormVisible = false
      this.getTableList()
      this.getTree()
      this.$msg(response)
    },
    //  删除
    async handleDelete(row) {
      await this.$myConfirm('是否删除数据?')
      const response = await this.$newsModuleHttp.get('/newsChannel/deleteChannel', { id: row.id })
      this.getTree()
      this.getTableList()
      this.$msg(response)
    },
    // 获取频道列表
    async getListChannel() {
      const response = await this.$newsModuleHttp.get('/newsChannel/listChannel', { parentId: 0 })
      this.listChannel = response.data.data
    }
  },
  computed: {

  },
  watch: {
    'filter.level'() {
      this.getTableList()
    }
  },
  mounted() {
    this.getTree()
  }
}
</script>

<style scoped>

</style>
