<template>
  <div class="xxs_components_container">
    <el-row :gutter="8">
      <el-col :span="3">
        <el-tree
          :data="treeData"
          :props="defaultProps"
          @node-click="handleNodeClick"
          :default-expand-all="true"
          highlight-current
          :expand-on-click-node="false"></el-tree>
      </el-col>
      <el-col :span="21">
        <div>
          <div class="xxs_filter_block">
            <el-button class="filter-item" type="primary" icon="edit" @click="toEditPage">添加</el-button>
            <el-input @keyup.enter.native="$handleFilter" v-model="filter.title" class="filter-item" placeholder="标题"></el-input>
            <el-date-picker
            v-model="filter.timeScope"
            type="daterange"
            align="right"
            unlink-panels
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
            :picker-options="pickerOptions">
            </el-date-picker>&nbsp;&nbsp;
            <el-button class="filter-item" type="primary" icon="search" @click="$handleFilter">搜索</el-button>
          </div>
          <el-table
            :data="tableData"
            v-loading="listLoading"
            element-loading-text="加载中"
            border
            fit
            highlight-current-row
            style="width: 100%">
            <el-table-column class-name="xxs_operate" align="center" label="操作" width="200">
              <template slot-scope="scope">
                <el-button  size="small" @click="handleUpdate(scope.row)">修改</el-button>
                <el-button  size="small" @click="handleIssue(scope.row)">发布</el-button>
                <el-button  size="small" :plain="true" type="danger" @click="handleDelete(scope.row)">删除</el-button>
              </template>
            </el-table-column>
            <el-table-column prop="imageUrl" label="封面图片" width="140">
              <template slot-scope="scope">
                <div style="text-align: center;">
                  <img :src="scope.row.imageUrl" alt="" class="image_class" @click="imagePreview(scope.row.imageUrl)"/>
                </div>
              </template>
            </el-table-column>
            <el-table-column prop="title" label="标题" width="180" show-overflow-tooltip></el-table-column>
            <el-table-column prop="state" label="状态" width="70">
              <template slot-scope="scope">
                <span>{{ stateCode[scope.row.state] }}</span>
              </template>
            </el-table-column>
            <el-table-column prop="updateTime" label="更新时间" width="180">
              <template slot-scope="scope">
                <span>{{ scope.row.updateTime | parseTime }}</span>
              </template>
            </el-table-column>
            <el-table-column prop="createTime" label="创建时间" width="180">
              <template slot-scope="scope">
                <span>{{ scope.row.createTime | parseTime }}</span>
              </template>
            </el-table-column>
          </el-table>
          <div class="xxs_page_block">
            <el-pagination @size-change="$handleSizeChange" @current-change="$handleCurrentChange" :current-page="currentPage" :page-sizes="[10, 20, 50, 100]" :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total">
            </el-pagination>
          </div>
        </div>
      </el-col>
    </el-row>

    <!-- 图片预览 -->
    <el-dialog :visible.sync="imgDialogVisible">
      <img width="100%" :src="imageUrl" alt="">
    </el-dialog>
  </div>
</template>

<script>
import { parseTime } from '@/filters/index'
import router from '@/router'

const stateCode = {
  'draft': '草稿',
  'reviewing': '审核中',
  'passReView': '审核通过',
  'isDelete': '已删除'
}
export default {
  data() {
    return {
      stateCode,
      //  图片预览参数
      imageUrl: null,
      imgDialogVisible: false,
      //  树参数
      treeData: [],
      defaultProps: {
        children: 'children',
        label: 'name'
      },
      tree: {
        id: null,
        name: null,
        level: null
      },
      //  页面参数
      listLoading: false,
      tableData: [],
      currentPage: 1,
      pageSize: this.$getPage(),
      total: 0,

      //  查询参数
      filter: {
        title: null,
        timeScope: [null, null]
      },

      pickerOptions: {
        shortcuts: [
          {
            text: '最近一周',
            onClick(picker) {
              const end = new Date()
              const start = new Date()
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7)
              picker.$emit('pick', [start, end])
            }
          },
          {
            text: '最近一个月',
            onClick(picker) {
              const end = new Date()
              const start = new Date()
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30)
              picker.$emit('pick', [start, end])
            }
          },
          {
            text: '最近三个月',
            onClick(picker) {
              const end = new Date()
              const start = new Date()
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90)
              picker.$emit('pick', [start, end])
            }
          }
        ]
      }
    }
  },
  methods: {
    imagePreview(imageUrl) {
      this.imgDialogVisible = true
      this.imageUrl = imageUrl
    },
    getParams() {
      const params = {
        channelId: this.tree.id,
        title: this.filter.title
      }
      if (this.filter.timeScope) {
        this.filter.timeScope[0] &&
        (params.startTime = parseTime(this.filter.timeScope[0], '{y}-{m}-{d}'))
        this.filter.timeScope[1] &&
        (params.endTime = parseTime(this.filter.timeScope[1], '{y}-{m}-{d}') + ' 23:59:59')
      }
      return params
    },
    async getTableList() {
      const params = { ...this.getParams() }
      params.page = this.currentPage
      params.rows = this.pageSize
      const response = await this.$newsModuleHttp.post('/newsArticle/pageArticle', params)
      this.tableData = response.data.data.records
      if (this.tableData.length > 0) {
        this.tableData.forEach(item => {
          item.imageUrl = 'http://111.230.209.144:8080/img-server/findSysAblum?imageNo=' + item.imageNo
        })
      }
      this.total = response.data.data.total
      this.listLoading = false
    },
    //  发布
    async handleIssue(row) {
      this.$tip('此文章此前已发布过,再次发布会撤回线上该发布文章')
      const params = {
        id: row.id
      }
      this.formLoading = true
      const response = await this.$newsModuleHttp.post('/newsArticle/issueArticle', params)
      this.formLoading = false
      this.$msg(response)
      this.getTableList()
    },
    //  添加 跳转编辑页面
    toEditPage() {
      if (!this.tree.id) {
        this.$tip('请选择所属频道')
        return
      }
      const channelId = 1 //  频道id
      const isAdd = 1 //  是否新增 标志位
      router.push({ path: '/article/editArticle', query: { channelId, isAdd }})
    },
    //  修改 跳转编辑页面
    handleUpdate(row) {
      const articleNo = row.articleNo
      const isAdd = 0 //  是否新增 标志位
      router.push({ path: '/article/editArticle', query: { articleNo, isAdd }})
    },
    //  删除
    async handleDelete(row) {
      await this.$myConfirm('是否删除数据?')
      const response = await this.$http.post('/newsArticle/deleteArticle', { id: row.articleNo })
      this.getTableList()
      this.$msg(response)
    },
    //  点击树事件
    handleNodeClick(data, node) {
      this.tree.id = data.id
      this.getTableList()
    },
    // 获取频道列表
    async getListChannel() {
      return await this.$newsModuleHttp.get('/newsChannel/listChannel', { parentId: '' })
    },
    //  树数据
    async getTree() {
      const firstChannel = []
      const secondChannel = []
      this.getListChannel().then(res => {
        res.data.data.forEach(item => {
          item.children = []
          if (item.level === 1) {
            firstChannel.push(item)
          } else {
            secondChannel.push(item)
          }
        })
        firstChannel.forEach(first => {
          const parentId = first.id
          secondChannel.forEach(second => {
            if (+second.parentId === +parentId) {
              first.children.push(second)
            }
          })
        })
        const treeData = [{
          id: null,
          parentId: null,
          name: '全部',
          children: firstChannel
        }]
        this.treeData = treeData
      })
      this.getTableList()
    }
  },
  computed: {

  },
  watch: {
    'filter.timeScope'(val) {
      this.getTableList()
    }
  },
  mounted() {
    this.getTree()
  }
}
</script>

<style scoped lang="scss">
.image_class {
  margin-top: 6px;
  width: 110px;
  height: 62px;
  cursor: pointer;
}
</style>
