<template>
<div  v-loading="loading">
    <div class="cropper-content">
    <div class="cropper">
      <vueCropper
        ref="cropper"
        :centerBox="option.centerBox"
        :img="option.img"
        :outputSize="option.size"
        :outputType="option.outputType"
        :info="true"
        :full="option.full"
        :canMove="option.canMove"
        :canMoveBox="option.canMoveBox"
        :original="option.original"
        :autoCrop="option.autoCrop"
        :autoCropWidth="option.autoCropWidth"
        :autoCropHeight="option.autoCropHeight"
        :fixedBox="option.fixedBox"
        @realTime="realTime"
        @imgLoad="imgLoad"
      ></vueCropper>
    </div>
    <!--  -->
    <div class="show-preview" :style="{'width': previews.w + 'px', 'height': previews.h + 'px',  'overflow': 'hidden'}">
      <!--  -->
      <div class="preview" :style="previews.div">
        <!--  -->
        <img :src="previews.url" :style="previews.img">
      </div>
    </div>
  </div>

  <div class="footer-btn">
    <div class="scope-btn">
      <label class="btn" for="uploads">更换图片</label>
      <input type="file" ref="input" id="uploads" style="position:absolute; clip:rect(0 0 0 0);" accept="image/png, image/jpeg, image/gif, image/jpg" @change="uploadImg($event)">
      <el-button title="放大" class="xxs_cus_but" @click="changeScale(1)">+</el-button>
      <el-button title="缩小" class="xxs_cus_but" @click="changeScale(-1)">-</el-button>
      <el-button title="左旋转" class="xxs_cus_but" @click="rotateLeft">↺</el-button>
      <el-button title="右旋转" class="xxs_cus_but" @click="rotateRight">↻</el-button>
    </div>
    <div class="upload-btn">
      <el-button type="danger" @click="down('blob')">确认上传<i class="el-icon-upload el-icon--right"></i></el-button>
    </div>
  </div>
   </div>
</template>

<script>
import axios from 'axios'
import { VueCropper } from 'vue-cropper'

export default {
  data() {
    return {
      loading: false,
      headImg: '',
      //  剪切图片上传
      crap: false,
      previews: {},
      option: {
        img: '',
        outputSize: 1, // 剪切后的图片质量（0.1-1）
        full: false, // 输出原图比例截图 props名full
        outputType: 'png',
        canMove: true,
        original: false,
        canMoveBox: true,
        autoCrop: true,
        autoCropWidth: 220,
        autoCropHeight: 124,
        // 开启宽度和高度比例
        // fixed: true,
        // fixedNumber: [55, 31],
        centerBox: true,
        fixedBox: true
      },
      fileName: ''//  本机文件地址
    }
  },
  components: {
    VueCropper
  },
  methods: {
    changeScale(num) {
      num = num || 1
      this.$refs.cropper.changeScale(num)
    },
    rotateLeft() {
      this.$refs.cropper.rotateLeft()
    },
    rotateRight() {
      this.$refs.cropper.rotateRight()
    },
    // 实时预览函数
    realTime(data) {
      this.previews = data
    },
    //  上传到后台
    down(type) {
      this.loading = true
      const formData = new FormData()
      this.$refs.cropper.getCropBlob(data => {
        formData.append('file', data, this.fileName)
        axios.post(this.$imageBaseApi() + '/uploadSysAblum',
          formData
        ).then(res => {
          // const imgUrl = res.data
          this.$emit('subEven', res)
          this.loading = false
          this.$message.success('上传成功')
        }).catch(err => {
          this.loading = false
          console.error(err)
          this.$message.error('上传异常')
        })
      })
    },
    uploadImg(e) {
      //  上传图片
      const file = e.target.files[0]
      this.fileName = e.target.files[0].name
      if (!/\.(gif|jpg|jpeg|png|bmp|GIF|JPG|PNG)$/.test(e.target.value)) {
        this.$message.error('图片类型必须是.gif,jpeg,jpg,png,bmp中的一种')
        return false
      }
      const reader = new FileReader()
      reader.onload = e => {
        let data
        if (typeof e.target.result === 'object') {
          // 把Array Buffer转化为blob 如果是base64不需要
          data = window.URL.createObjectURL(new Blob([e.target.result]))
        } else {
          data = e.target.result
        }
        this.option.img = data
      }
      // 转化为base64
      // reader.readAsDataURL(file)
      // 转化为blob
      reader.readAsArrayBuffer(file)
      // this.$refs.input.value = null
    },
    imgLoad(msg) {
      // console.log(msg)
    }
  }
}
</script>

<style lang="scss" scoped>
.cropper-content {
  display: flex;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  .cropper {
    width: 500px;
    height: 400px;
  }
  .show-preview {
    margin: auto auto;
    flex: 1;
    -webkit-flex: 1;
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    .preview {
      overflow: hidden;
      border: 1px solid #cccccc;
      background: #e2e1e1;
    }
  }
}
.footer-btn {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  .scope-btn {
    width: 500px;
    display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
  }
  .upload-btn {
    flex: 1;
    -webkit-flex: 1;
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
  }
  .btn {
    outline: none;
    display: inline-block;
    // line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    -webkit-appearance: none;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    // font-weight: 500;
    padding: 8px 15px;
    font-size: 12px;
    border-radius: 3px;
    color: #fff;
    background-color: #67c23a;
    border-color: #67c23a;
  }
}
.xxs_cus_but {
  border-color: #409eff;
  color: #409eff;
}
</style>
