<template>
  <div class="xxs_components_container">
    <div class="xxs_filter_block">
      <el-button class="filter-item" type="primary" icon="edit" @click="handleCreate">添加</el-button>
      <el-input @keyup.enter.native="$handleFilter" v-model="filter.account" class="filter-item" placeholder="账号"></el-input>
      <el-input @keyup.enter.native="$handleFilter" v-model="filter.userName" class="filter-item" placeholder="用户名"></el-input>
      <el-select
      clearable
      class="filter-item"
      v-model="filter.state"
      placeholder="状态">
      <el-option v-for="(value, key) in stateCode" :key="key" :label="value" :value="+key">
      </el-option>
    </el-select>
      <el-button class="filter-item" type="primary" icon="search" @click="$handleFilter">搜索</el-button>
    </div>
    <el-table
      :data="tableData"
      v-loading="listLoading"
      element-loading-text="加载中"
      border
      fit
      highlight-current-row
      style="width: 100%">
      <el-table-column class-name="xxs_operate" align="center" label="操作" width="200">
        <template slot-scope="scope">
          <div v-if="scope.row.state !== 1">
            <el-button  size="small" @click="handleUpdate(scope.row)">修改</el-button>
            <el-button v-if="scope.row.state === 0"  size="small" @click="handleState(scope.row, 2)">认证</el-button>
            <el-button v-if="scope.row.state === 2"  size="small" @click="handleState(scope.row, 3)">锁定</el-button>
            <el-button v-if="scope.row.state === 3"  size="small" @click="handleState(scope.row, 2)">解锁</el-button>
            <el-button  size="small" :plain="true" type="danger" @click="handleState(scope.row, 1)">删除</el-button>
          </div>
        </template>
      </el-table-column>
      <el-table-column prop="account" label="账号" width="120"></el-table-column>
      <el-table-column prop="userName" label="用户名" width="120"></el-table-column>
      <el-table-column prop="state" label="状态" width="120">
        <template slot-scope="scope">
          <span>{{ stateCode[scope.row.state] }}</span>
        </template>
      </el-table-column>
      <el-table-column prop="mobile" label="电话"  width="180">
      </el-table-column>
      <el-table-column prop="email" label="邮箱" width="180">
      </el-table-column>
      <el-table-column prop="gender" label="性别" width="100">
        <template slot-scope="scope">
          <span>{{ genderCode[scope.row.gender] }}</span>
        </template>
      </el-table-column>
      <el-table-column prop="loginCount" label="登陆次数" width="180">
      </el-table-column>
      <el-table-column prop="updateTime" label="更新时间" width="180">
        <template slot-scope="scope">
          <span>{{ scope.row.updateTime | parseTime }}</span>
        </template>
      </el-table-column>
      <el-table-column prop="createTime" label="创建时间" width="180">
        <template slot-scope="scope">
          <span>{{ scope.row.createTime | parseTime }}</span>
        </template>
      </el-table-column>
    </el-table>
    <div class="xxs_page_block">
      <el-pagination @size-change="$handleSizeChange" @current-change="$handleCurrentChange" :current-page="currentPage" :page-sizes="[10, 20, 50, 100]" :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total">
      </el-pagination>
    </div>


    <!-- 员工编辑框 -->
    <el-dialog title="员工编辑"  :visible.sync="dialogFormVisible" width="750px">
      <el-form
        :model="employee"
        :rules="rules"
        ref="editForm"
        label-position="right" label-width="80px">
        <el-row>
          <el-col :span="12">
            <el-form-item label="账号" prop="account">
              <el-input v-model="employee.account" class="w-input-235" :readonly="!!employee.id"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="密码" prop="password">
              <el-input class="w-input-235" v-model="employee.password" :readonly="!!employee.id" type="password"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="用户名" prop="userName">
              <el-input class="w-input-235" v-model="employee.userName" :readonly="!!employee.id"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="角色" prop="roleIds"
              :rules="[{ type: 'array' ,required: true, message: '必选', trigger: 'change'}]">
              <el-select
                class="w-input-235"
                multiple
                filterable
                v-model="employee.roleIds"
                placeholder="请选择">
                <el-option v-for="role in roleList" :key="role.id" :label="role.role" :value="role.id">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="手机号" prop="mobile">
              <el-input v-model="employee.mobile" class="w-input-235"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="邮箱" prop="email">
              <el-input v-model="employee.email" class="w-input-235"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-form-item label="性别" prop="gender">
          <el-radio v-model="employee.gender" :label="1">男</el-radio>
          <el-radio v-model="employee.gender" :label="2">女</el-radio>
        </el-form-item>

      </el-form>
      <div slot="footer" class="dialog-footer" v-loading="formLoading">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button v-if="dialogStatus=='create'" type="primary" @click="create">确 定</el-button>
        <el-button v-else type="primary" @click="update">确 定</el-button>
      </div>
    </el-dialog>


  </div>
</template>

<script>
// 0:创建未认证 1:被删除 2:正常状态 3:被锁定
const stateCode = {
  '0': '未认证',
  '1': '被删除',
  '2': '正常',
  '3': '被锁定'
}
const genderCode = {
  '1': '男',
  '2': '女'
}
export default {
  data() {
    return {
      // 页面参数
      listLoading: false,
      tableData: [],
      currentPage: 1,
      pageSize: this.$getPage(),
      total: 0,
      genderCode,
      //  查询参数
      stateCode,
      filter: {
        account: null,
        userName: null,
        state: null
      },
      //  表单参数
      employee: {
        id: null,
        uuid: null,
        account: null,
        userName: null,
        password: null,
        mobile: null,
        email: null,
        gender: null,
        roleIds: []
      },
      rules: {
        account: [
          { required: true, message: '必填', trigger: 'blur' },
          { max: 16, message: '不能超过16个字符' }
        ],
        userName: [
          { required: true, message: '必填', trigger: 'blur' },
          { max: 16, message: '不能超过16个字符' }
        ],
        password: [
          { required: true, message: '必填', trigger: 'blur' },
          { max: 128, message: '不能超过128个字符' }
        ],
        mobile: [
          { required: true, message: '必填', trigger: 'blur' },
          { max: 16, message: '不能超过16个字符' }
        ],
        email: [
          { required: true, message: '必填', trigger: 'blur' },
          { max: 32, message: '不能超过32个字符' }
        ]
      },
      dialogFormVisible: false,
      formLoading: false,
      dialogStatus: '',
      //  角色列表
      roleList: []
    }
  },
  methods: {
    //  分页查询
    async getTableList() {
      const params = {
        account: this.filter.account,
        userName: this.filter.userName,
        state: this.filter.state,
        page: this.currentPage,
        rows: this.pageSize
      }
      const response = await this.$employeeHttp.get('/user/pageEmployee', params)
      this.tableData = response.data.data.rows
      this.total = response.data.data.total
      this.listLoading = false
    },
    //  添加
    handleCreate() {
      // 清空表单数据
      if (this.$refs['editForm']) {
        this.$refs['editForm'].resetFields()
      }
      this.employee = {
        id: null,
        uuid: null,
        account: null,
        userName: null,
        password: null,
        mobile: null,
        email: null,
        gender: 1,
        roleIds: []
      }
      //  获取角色列表
      this.getRoleList()
      this.dialogStatus = 'create'
      this.dialogFormVisible = true
      this.formLoading = false
    },
    //  保存表单操作
    async create() {
      //  验证表单
      await this.$validate('editForm')
      const params = JSON.parse(JSON.stringify(this.employee))
      this.formLoading = true
      const response = await this.$employeeHttp.post('/user/createEmployee', params)
      this.formLoading = false
      this.$msg(response)
      this.dialogFormVisible = false
      this.getTableList()
    },
    //  修改
    handleUpdate(row) {
      // 清空表单数据
      if (this.$refs['editForm']) {
        this.$refs['editForm'].resetFields()
      }
      //  回显数据
      const employee = this.employee
      for (const key in employee) {
        if (employee.hasOwnProperty(key)) {
          employee[key] = row[key]
        }
      }
      this.getRoleList()
      this.dialogStatus = 'update'
      this.dialogFormVisible = true
      this.formLoading = false
    },
    //  修改表单操作
    async update() {
      //  验证表单
      await this.$validate('editForm')
      const params = JSON.parse(JSON.stringify(this.employee))
      this.formLoading = true
      const response = await this.$employeeHttp.post('/user/updateEmployee', params)
      this.formLoading = false
      this.$msg(response)
      this.dialogFormVisible = false
      this.getTableList()
    },
    //  修改状态 state
    async handleState(row, state) {
      const params = {
        uuid: row.uuid,
        state: state
      }
      const response = await this.$employeeHttp.get('/user/updateEmployeeState', params)
      this.getTableList()
      this.$msg(response)
    },
    //  删除角色
    async handleDelete(row) {
      await this.$myConfirm('是否删除数据?')
      const params = {
        uuid: row.uuid,
        state: 1
      }
      const response = await this.$employeeHttp.get('/user/updateEmployeeState', params)
      this.getTableList()
      this.$msg(response)
    },
    // 获取角色列表
    async getRoleList() {
      const response = await this.$employeeHttp.get('/role/listRole')
      this.roleList = response.data.data
    }
  },
  watch: {
    'filter.state'() {
      this.getTableList()
    }
  },
  mounted() {
    this.getTableList()
  }
}
</script>

<style scoped>
</style>
