<template>
  <div class="xxs_components_container">
    <div class="xxs_filter_block">
      <el-button class="filter-item" type="primary" icon="edit" @click="handleCreate">添加</el-button>
      <el-input @keyup.enter.native="$handleFilter" v-model="filter.role" class="filter-item" placeholder="角色名称"></el-input>
      <el-select
      clearable
      class="filter-item"
      v-model="filter.available"
      placeholder="状态">
      <el-option v-for="(value, key) in availableCode" :key="key" :label="value" :value="+key">
      </el-option>
    </el-select>
      <el-button class="filter-item" type="primary" icon="search" @click="$handleFilter">搜索</el-button>
    </div>
    <el-table
      :data="tableData"
      v-loading="listLoading"
      element-loading-text="加载中"
      border
      fit
      highlight-current-row
      style="width: 100%">
      <el-table-column class-name="xxs_operate" align="center" label="操作" width="200">
        <template slot-scope="scope">
          <el-button  size="small" @click="handleUpdate(scope.row)">修改</el-button>
          <el-button v-if="scope.row.available === 0"  size="small" @click="handleAvailable(scope.row, 1)">禁用</el-button>
          <el-button  v-else size="small" @click="handleAvailable(scope.row, 0)">启用</el-button>
          <el-button  size="small" :plain="true" type="danger" @click="handleDelete(scope.row)">删除</el-button>
        </template>
      </el-table-column>
      <el-table-column prop="role" label="名称" width="180"></el-table-column>
      <el-table-column prop="description" label="角色描述" show-overflow-tooltip width="180">
      </el-table-column>
      <el-table-column prop="available" label="角色状态" width="140">
        <template slot-scope="scope">
          <span>{{ availableCode[scope.row.available] }}</span>
        </template>
      </el-table-column>
      <el-table-column prop="updateTime" label="更新时间" width="180">
        <template slot-scope="scope">
          <span>{{ scope.row.updateTime | parseTime }}</span>
        </template>
      </el-table-column>
      <el-table-column prop="createTime" label="创建时间" width="180">
        <template slot-scope="scope">
          <span>{{ scope.row.createTime | parseTime }}</span>
        </template>
      </el-table-column>
    </el-table>
    <div class="xxs_page_block">
      <el-pagination @size-change="$handleSizeChange" @current-change="$handleCurrentChange" :current-page="currentPage" :page-sizes="[10, 20, 50, 100]" :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total">
      </el-pagination>
    </div>


    <!-- 角色编辑框 -->
    <el-dialog title="角色编辑" :visible.sync="dialogFormVisible" width="600px">
      <el-form
        :model="role"
        :rules="rules"
        ref="editForm"
        :inline="true"
        label-position="right" label-width="80px">
        <el-form-item label="角色名称" prop="role">
          <el-input v-model="role.role" class="w-input-235"></el-input>
        </el-form-item>
        <el-form-item label="角色描述" prop="description">
          <el-input v-model="role.description" type="textarea" class="w-input-235" :autosize="{ minRows: 3, maxRows: 5}" placeholder="请输入内容" >
          </el-input>
        </el-form-item><br>
        <div class="el-form-item__label" style="font-weight: bold;margin-left: 12px;">菜单权限</div>
          <el-form-item label="" prop="permissionIds" style="max-height: 300px;overflow-y: auto;">
            <div v-for="(permission, index) in basePermission" :key="index" style="margin-left: 12px;">
              <el-checkbox :indeterminate="indeterminates[index].value" v-model="moduleAllCheck[index].checked" @change="checkParent(index)">
                <span class="module-checkbox">{{ permission.name }}</span>
              </el-checkbox>
              <div style="margin: 15px 0;"></div>
              <el-checkbox-group v-model="permissions[index].id" @change="checkSub(index)" class="module-sub-checkbox">
                <el-checkbox v-for="subPermission in permission.children" :label="subPermission.id" :key="subPermission.id">
                  {{subPermission.name}}
                </el-checkbox>
              </el-checkbox-group>
            </div>
          </el-form-item>

      </el-form>
      <div slot="footer" class="dialog-footer" v-loading="formLoading">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button v-if="dialogStatus=='create'" type="primary" @click="create">确 定</el-button>
        <el-button v-else type="primary" @click="update">确 定</el-button>
      </div>
    </el-dialog>


  </div>
</template>

<script>
const availableCode = {
  '0': '可用',
  '1': '不可用'
}
export default {
  data() {
    return {
      // 页面参数
      listLoading: false,
      tableData: [],
      currentPage: 1,
      pageSize: this.$getPage(),
      total: 0,
      //  查询参数
      availableCode,
      filter: {
        role: '',
        available: ''
      },
      //  表单参数
      role: {
        id: null,
        role: null,
        description: null,
        available: null
      },
      //  权限参数
      basePermission: [],
      checkAll: false,
      checkedPermissions: [],
      indeterminates: [],
      permissionIds: [],

      // 存放模块id，二维数组
      moduleIds: [],

      moduleAllCheck: [],
      permissions: [],

      rules: {
        role: [
          { required: true, message: '必填', trigger: 'blur' },
          { max: 16, message: '不能超过16个字符' }
        ],
        description: [
          { required: true, message: '必填', trigger: 'blur' },
          { max: 64, message: '不能超过64个字符' }
        ]
      },
      dialogFormVisible: false,
      formLoading: false,
      dialogStatus: ''
    }
  },
  methods: {
    checkParent(index) {
      this.permissions[index].id = this.moduleAllCheck[index].checked ? this.moduleIds[index] : []
      this.indeterminates[index].value = false
    },
    checkSub(index) {
      const checkedCount = this.permissions[index].id.length
      this.moduleAllCheck[index].checked = checkedCount === this.moduleIds[index].length
      this.indeterminates[index].value = checkedCount > 0 && checkedCount < this.moduleIds[index].length
    },
    //  分页查询
    async getTableList() {
      const params = {
        role: this.filter.role,
        available: this.filter.available,
        page: this.currentPage,
        rows: this.pageSize
      }
      const response = await this.$employeeHttp.get('/role/pageRole', params)
      this.tableData = response.data.data.records
      this.total = response.data.data.total
      this.listLoading = false
    },
    //  添加
    handleCreate() {
      // 清空表单数据
      if (this.$refs['editForm']) {
        this.$refs['editForm'].resetFields()
      }
      this.role = {
        id: null,
        role: null,
        description: null,
        available: 1
      }
      // 权限
      this.moduleAllCheck.forEach(item => {
        item.checked = false
      })
      this.indeterminates.forEach(item => {
        item.value = false
      })
      this.permissions.forEach(item => {
        item.id = []
      })
      this.dialogStatus = 'create'
      this.dialogFormVisible = true
      this.formLoading = false
    },
    //  保存表单操作
    async create() {
      //  验证表单
      await this.$validate('editForm')
      const params = JSON.parse(JSON.stringify(this.role))
      const idArray = []
      if (this.permissions.length) {
        this.permissions.forEach(permission => {
          if (permission.id.length) {
            permission.id.forEach(item => {
              idArray.push(item)
            })
          }
        })
      }
      if (idArray.length < 1) {
        this.$tip('请至少选择一个菜单权限')
        return
      }
      params.permissionIds = idArray
      this.formLoading = true
      const response = await this.$employeeHttp.post('/role/createRole', params)
      this.formLoading = false
      this.$msg(response)
      this.dialogFormVisible = false
      this.getTableList()
    },
    //  修改
    handleUpdate(row) {
      // 清空表单数据
      if (this.$refs['editForm']) {
        this.$refs['editForm'].resetFields()
      }
      //  回显数据
      const role = this.role
      for (const key in role) {
        if (role.hasOwnProperty(key)) {
          role[key] = row[key]
        }
      }
      // 权限
      this.moduleAllCheck.forEach(item => {
        item.checked = false
      })
      this.indeterminates.forEach(item => {
        item.value = false
      })
      this.permissions.forEach(item => {
        item.id = []
      })
      //  该角色拥有的权限id
      const permissionIds = row.permissionIds
      this.moduleIds.forEach((ids, index) => {
        const temp = []
        ids.forEach(id => {
          permissionIds.forEach((item, index) => {
            if (item === id) {
              temp.push(item)
            }
          })
          if (temp.length === ids.length) {
            this.moduleAllCheck[index].checked = true
            this.indeterminates[index].value = false
          } else {
            this.moduleAllCheck[index].checked = false
            if (temp.length) {
              this.indeterminates[index].value = true
            }
          }
          this.$set(this.permissions[index], 'id', temp)
        })
      })
      this.dialogStatus = 'update'
      this.dialogFormVisible = true
      this.formLoading = false
    },
    //  修改表单操作
    async update() {
      //  验证表单
      await this.$validate('editForm')
      const params = JSON.parse(JSON.stringify(this.role))
      const idArray = []
      if (this.permissions.length) {
        this.permissions.forEach(permission => {
          if (permission.id.length) {
            permission.id.forEach(item => {
              idArray.push(item)
            })
          }
        })
      }
      if (idArray.length < 1) {
        this.$tip('请至少选择一个菜单权限')
        return
      }
      params.permissionIds = idArray
      this.formLoading = true
      const response = await this.$employeeHttp.post('/role/updateRole', params)
      this.formLoading = false
      this.$msg(response)
      this.dialogFormVisible = false
      this.getTableList()
    },
    //  修改状态 可用 不可用
    async handleAvailable(row, available) {
      const params = {
        id: row.id,
        available: available
      }
      const response = await this.$employeeHttp.post('/role/updateRole', params)
      this.getTableList()
      this.$msg(response)
    },
    //  删除角色
    async handleDelete(row) {
      await this.$myConfirm('是否删除数据?')
      const params = {
        id: row.id,
        state: 1
      }
      const response = await this.$employeeHttp.post('/role/updateRole', params)
      this.getTableList()
      this.$msg(response)
    }
  },
  created() {
    this.$employeeHttp.get('/permission/listAll').then(res => {
      const parentPermission = []
      const subPermission = []
      const root = []
      const basePermission = res.data.data || []
      basePermission.forEach(item => {
        if (+item.parentId === 0) {
          parentPermission.push(item)
        } else {
          subPermission.push(item)
        }
      })
      const map = {}
      parentPermission.forEach(item => {
        map[item.id] = item
        root.push(item)
      })
      subPermission.forEach(item => {
        const parent = map[item.parentId]
        if (parent) {
          const cList = parent.children || (parent.children = [])
          cList.push(item)
        }
      })
      this.basePermission = root

      this.basePermission.forEach((item, index) => {
        const idArray = []
        if (item.children && item.children.length > 0) {
          item.children.forEach(subModule => {
            idArray.push(subModule.id)
          })
        }
        // 存放所有模版id，二维数组
        this.moduleIds.push(idArray)

        // Vue 不允许在已经创建的实例上动态添加新的根级响应式属性
        this.moduleAllCheck.push([])
        this.indeterminates.push([])
        this.permissions.push([])

        this.$set(this.permissions[index], 'id', [])
        this.$set(this.moduleAllCheck[index], 'checked', false)
        this.$set(this.indeterminates[index], 'value', false)
      })
    })
  },
  mounted() {
    this.getTableList()
  },
  watch: {
    'filter.available'() {
      this.getTableList()
    }
  }
}
</script>

<style scoped>
.module-checkbox {
  font-weight: bold;
  font-size: 15px;
}

.module-sub-checkbox {
  margin-left: 25px;
}

/* 覆盖原样式 */
.el-checkbox+.el-checkbox {
  margin-left: 0;
}
.el-checkbox {
  margin-right: 30px;
}
</style>
