<template>
  <div style="margin-left: 30px">
    <h3>首页 </h3>
  </div>
</template>

<script>
import store from '@/store'
export default {
  mounted() {
    store.dispatch('GenerateRoutes')
  }
}
</script>
