<template>
  <div>
    <!-- 图片上传组件辅助-->
    <el-upload
      ref="elUpload"
      hidden
      class="avatar-uploader"
      :action="$imageBaseApi() + '/uploadSysAblum'"
      :auto-upload="true"
      :show-file-list="false"
      :on-success="uploadSuccess"
      :on-error="uploadError"
      :before-upload="beforeUpload">
    </el-upload>
    <div :class="{fullscreen:fullscreen}" class="tinymce-container editor-container">
      <textarea
        class="tinymce-textarea"
        :id="Id"
        ref="tinymceEditor">
      </textarea>
    </div>
  </div>
</template>
<script>
import 'static/tinymce/tinymce.min.js'
export default {
  name: 'mceeditor',
  data() {
    const Id = 'tinymceId' + +new Date()
    return {
      Id: Id,
      Editor: null,
      fullscreen: false,
      DefaultConfig: {
        // GLOBAL
        language: 'zh_CN',
        theme: 'modern',
        menubar: false,
        //  下划线功能暂时不用 underline  media(视频媒体) link(链接) fullscreen(全屏)
        toolbar: `styleselect | fontselect | formatselect |
        fontsizeselect | forecolor backcolor |
        emoticons bold italic strikethrough |
        uploadimage media | table | alignleft aligncenter alignright alignjustify |
        outdent indent | numlist bullist |
        preview removeformat subscript superscript code |
        clear undo redo fullscreen`,
        plugins: `
            paste
            importcss
            uploadimage
            code
            table
            advlist
            fullscreen
            emoticons
            link
            media
            lists
            textcolor
            colorpicker
            hr
            clear
            preview
          `,

        // CONFIG

        forced_root_block: 'p',
        force_p_newlines: true,
        importcss_append: true,
        branding: false,

        // CONFIG: ContentStyle 这块很重要， 在最后呈现的页面也要写入这个基本样式保证前后一致， `table`和`img`的问题基本就靠这个来填坑了
        content_style: `
            *                         { padding:0; margin:0; }
            html, body                { height:100%; }
            img                       { max-width:100%; height:auto; }
            a                         { text-decoration: none; }
            iframe                    { width: 100%; }
            p                         { line-height:1.6; margin: 0px; }
            table                     { word-wrap:break-word; word-break:break-all; max-width:100%; border:none; border-color:#999; }
            .mce-object-iframe        { width:100%; box-sizing:border-box; margin:0; padding:0; }
            ul,ol                     { list-style-position:inside; }
          `,

        insert_button_items: 'image link | inserttable',

        // CONFIG: Paste
        paste_retain_style_properties: 'all',
        paste_word_valid_elements: '*[*]', // word需要它
        paste_data_images: false, // 粘贴的同时能把内容里的图片自动上传，非常强力的功能
        paste_convert_word_fake_lists: true, // 插入word文档需要该属性
        paste_webkit_styles: 'all',
        paste_merge_formats: true,
        nonbreaking_force_tab: false,
        paste_auto_cleanup_on_paste: false,

        // CONFIG: Font
        fontsize_formats: '10px 11px 12px 14px 16px 18px 20px 24px',

        // CONFIG: StyleSelect
        style_formats: [
          {
            title: '首行缩进',
            block: 'p',
            styles: { 'text-indent': '2em' }
          },
          {
            title: '行高',
            items: [
              { title: '1', styles: { 'line-height': '1' }, inline: 'span' },
              {
                title: '1.5',
                styles: { 'line-height': '1.5' },
                inline: 'span'
              },
              { title: '2', styles: { 'line-height': '2' }, inline: 'span' },
              {
                title: '2.5',
                styles: { 'line-height': '2.5' },
                inline: 'span'
              },
              { title: '3', styles: { 'line-height': '3' }, inline: 'span' }
            ]
          }
        ],

        // FontSelect
        font_formats: `
            微软雅黑=微软雅黑;
            宋体=宋体;
            黑体=黑体;
            仿宋=仿宋;
            楷体=楷体;
            隶书=隶书;
            幼圆=幼圆;
            Andale Mono=andale mono,times;
            Arial=arial, helvetica,
            sans-serif;
            Arial Black=arial black, avant garde;
            Book Antiqua=book antiqua,palatino;
            Comic Sans MS=comic sans ms,sans-serif;
            Courier New=courier new,courier;
            Georgia=georgia,palatino;
            Helvetica=helvetica;
            Impact=impact,chicago;
            Symbol=symbol;
            Tahoma=tahoma,arial,helvetica,sans-serif;
            Terminal=terminal,monaco;
            Times New Roman=times new roman,times;
            Trebuchet MS=trebuchet ms,geneva;
            Verdana=verdana,geneva;
            Webdings=webdings;
            Wingdings=wingdings,zapf dingbats`,

        // Tab
        tabfocus_elements: ':prev,:next',
        //  可以缩放图片
        object_resizing: false

        // Image
        // imagetools_toolbar:
        // 'rotateleft rotateright | flipv fliph | editimage imageoptions'
        // 'flipv fliph | editimage imageoptions'
      }
    }
  },
  props: {
    value: {
      default: '',
      type: String
    },
    config: {
      type: Object,
      default: () => {
        return {
          theme: 'modern',
          height: 1000
        }
      }
    },
    withCredentials: {
      default: false,
      type: Boolean
    }
  },
  methods: {
    // 销毁组建
    destroy() {
      if (window.tinymce.get(this.Id)) {
        window.tinymce.get(this.Id).destroy()
      }
    },
    // 上传之前
    beforeUpload() {
    },
    // 图片上传成功
    async uploadSuccess(res, file) {
      //  插入内容  img标签
      // console.log(res)
      await window.tinymce.get(this.Id).insertContent(`<img src="${res.imageUrl}">`)
    },
    // 图片上传失败
    uploadError() {
      this.$message.error('图片插入失败')
    },
    init() {
      const self = this
      // self.DefaultConfig.readonly = true
      this.Editor = window.tinymce.init({
        // 默认配置
        ...this.DefaultConfig,
        // prop内传入的的config
        ...this.config,
        // 挂载的DOM对象
        selector: `#${this.Id}`,
        setup: editor => {
          // 抛出 'on-ready' 事件钩子
          editor.on('init', () => {
            self.loading = false
            self.$emit('on-ready')
            // console.log(self.value)
            if (self.value) {
              editor.setContent(self.value)
            }
          })
          // 抛出 'input' 事件钩子，同步value数据
          editor.on('input change undo redo clear', () => {
            self.$emit('input', editor.getContent())
          })
          //  全屏
          editor.on('FullscreenStateChanged', (e) => {
            self.fullscreen = e.state
          })
        }
      })
    }
  },
  mounted() {
    window.tinymce.baseURL = '/static/tinymce'
    //  自定义点击图片按钮插件
    window.tinymce.PluginManager.add('uploadimage', function(editor) {
      editor.addCommand('selectLocalImages', selectLocalImages)
      editor.addButton('uploadimage', {
        icon: 'image',
        tooltip: '上传图片',
        onclick: selectLocalImages
      })
      function selectLocalImages() {
        //  触发input框选择图片文件
        if (document.querySelector('.avatar-uploader input')) {
          document.querySelector('.avatar-uploader input').click()
        }
      }
    })
    //  清除文本内容 自定义按钮
    window.tinymce.PluginManager.add('clear', function(editor) {
      editor.addButton('clear', {
        text: 'X',
        tooltip: '清空文本',
        onclick: clearContent
      })
      function clearContent() {
        //  清除内容
        if (editor.getContent()) {
          editor.setContent('')
        }
      }
    })
    this.init()
  },
  beforeDestroy() {
    // 销毁tinymce
    this.$emit('on-destroy')
    if (window.tinymce.get(this.Id)) {
      window.tinymce.get(this.Id).destroy()
    }
  }
}
</script>
<style scoped>
.tinymce-container {
  position: relative;
}
.tinymce-container>>>.mce-fullscreen {
  z-index: 10000;
}
.tinymce-textarea {
  visibility: hidden;
  z-index: -1;
}
.editor-custom-btn-container {
  position: absolute;
  right: 4px;
  top: 4px;
  /*z-index: 2005;*/
}
.fullscreen .editor-custom-btn-container {
  z-index: 10000;
  position: fixed;
}
</style>


