<template>
  <div class="login-container">
    <el-form class="login-form" autoComplete="on" :model="loginForm" :rules="loginRules" ref="loginForm" label-position="left">
      <div class="title-container">
        <h3 class="title">xxs</h3>
      </div>
      <el-form-item prop="Account">
        <span class="svg-container svg-container_login">
          <svg-icon icon-class="user" />
        </span>
        <el-input name="Account" type="text" @keyup.enter.native="handleNext" v-model="loginForm.Account" autoComplete="on" placeholder="用户名" />
      </el-form-item>
      <el-form-item prop="Password">
        <span class="svg-container">
          <svg-icon icon-class="password" />
        </span>
        <el-input name="Password" :type="passwordType" @keyup.enter.native="handleLogin" v-model="loginForm.Password" autoComplete="on" placeholder="密码" />
        <span class="show-pwd" @click="showPwd">
          <svg-icon icon-class="eye" />
        </span>
      </el-form-item>

      <el-button type="primary" style="width:100%;margin-bottom:30px;" :loading="loading" @click.native.prevent="handleLogin">登录</el-button>
    </el-form>
  </div>
</template>

<script>
  // import { valLogin } from '@/api/login' 测试提交修改
  // import md5 from 'js-md5'

  export default {
    name: 'login',
    data() {
      const validateUsername = (rule, value, callback) => {
        if (!value) {
          callback(new Error('请输入正确的用户名'))
        } else {
          callback()
        }
      }
      const validatePassword = (rule, value, callback) => {
        if (!value || value.length < 6) {
          callback(new Error('密码不能小于6位'))
        } else {
          callback()
        }
      }
      return {
        loginForm: {
          Account: null,
          Password: null
        },
        loginRules: {
          Account: [{ required: true, trigger: 'blur', validator: validateUsername }],
          Password: [{ required: true, trigger: 'blur', validator: validatePassword }]
        },
        passwordType: 'password',
        loading: false,
        showDialog: false
      }
    },
    methods: {
      showPwd() {
        if (this.passwordType === 'password') {
          this.passwordType = ''
        } else {
          this.passwordType = 'password'
        }
      },
      handleNext() {
        document.getElementsByTagName('input')[1].focus()
      },
      async handleLogin() {
        this.$router.push({ path: '/' })
      }
      // async handleLogin() {
      //   await this.$validate('loginForm')
      //   this.loading = true
      //   const params = { ...this.loginForm }
      //   params.Password = md5(params.Password)
      //
      //   const rs = await valLogin(params.Account, params.Password)
      //   this.loading = false
      //   if (rs.data.code === -1005) {
      //     await this.$myConfirm(rs.data.message + ',您是否继续登录，下线异地用户？', '提示', {
      //       confirmButtonText: '确定',
      //       cancelButtonText: '取消',
      //       type: 'warning'
      //     })
      //   } else if (rs.data.code !== 0) {
      //     this.$notify.error({
      //       title: '提示',
      //       message: rs.data.message,
      //       duration: 2000
      //     })
      //     return
      //   }
      //
      //   this.loading = true
      //   try {
      //     await this.$store.dispatch('LoginByUsername', params)
      //     this.loading = false
      //     this.$router.push({ path: '/' })
      //   } catch (msg) {
      //     this.loading = false
      //     this.$notify.error({
      //       title: '提示',
      //       message: msg,
      //       duration: 2000
      //     })
      //   }
      // }
    }
  }
</script>

<style rel="stylesheet/scss" lang="scss">
  $bg:#2d3a4b;
  $light_gray:#eee;

  /* reset element-ui css */
  .login-container {
  .el-input {
    display: inline-block;
    height: 47px;
    width: 85%;
  input {
    background: transparent;
    border: 0px;
    -webkit-appearance: none;
    border-radius: 0px;
    padding: 12px 5px 12px 15px;
    color: $light_gray;
    height: 47px;
  &:-webkit-autofill {
     -webkit-box-shadow: 0 0 0px 1000px #293444 inset !important;
     -webkit-text-fill-color: #fff !important;
   }
  }
  }
  .el-form-item {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: #454545;
  }
  }
</style>

<style rel="stylesheet/scss" lang="scss" scoped>
  $bg:#2d3a4b;
  $dark_gray:#889aa4;
  $light_gray:#eee;

  .login-container {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: $bg;
  .login-form {
    position: absolute;
    left: 0;
    right: 0;
    width: 420px;
    padding: 35px 35px 15px 35px;
    margin: 120px auto;
  }
  .tips {
    font-size: 14px;
    color: #fff;
    margin-bottom: 10px;
  span {
  &:first-of-type {
     margin-right: 16px;
   }
  }
  }
  .svg-container {
    padding: 6px 5px 6px 15px;
    color: $dark_gray;
    vertical-align: middle;
    width: 30px;
    display: inline-block;
  &_login {
     font-size: 20px;
   }
  }
  .title-container {
    position: relative;
  .title {
    font-size: 26px;
    color: $light_gray;
    margin: 0 auto 40px auto;
    text-align: center;
    font-weight: bold;
  }
  .set-language {
    color: #fff;
    position: absolute;
    top: 5px;
    right: 0px;
  }
  }
  .show-pwd {
    position: absolute;
    right: 10px;
    top: 7px;
    font-size: 16px;
    color: $dark_gray;
    cursor: pointer;
    user-select: none;
  }
  .thirdparty-button {
    position: absolute;
    right: 35px;
    bottom: 28px;
  }
  }
</style>
